.mystyle{
    font-family: Arial, Helvetica, sans-serif;
}

.mytitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

.myheading{
      font-size: 14px;
      font-weight: bold;
  }